.md-dialog-content {
  max-width: 300px;
}

.md-color-picker-input{
  visibility: hidden;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttonclass .md-button {
  background: #0091ea;
  margin-top: 16px;
  margin-bottom: 16px; }

.buttonclass md-card-content {
  align-content: stretch;

   }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

.carddemoBasicUsage .card-media {
  background-color: #999999; }