<div ng-controller="CardSuggestController">
    <md-content>
        <div class="row">
            <div class="col-md-12">

                <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>

                                <md-card-title>

                                    <md-card-title-text>
                                        <span class="md-headline">{{w.title}}</span>
                                        <span class="md-subhead">{{w.cardid}}</span>
                                    </md-card-title-text>

                                </md-card-title>

                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button class="btn btn-primary" ng-click="removeWidget(w)">Delete</md-button>
                                    <md-button ng-click="addGuage(w)">Open</md-button>
                                </md-card-actions>

                                <md-checkbox ng-model="showDarkTheme" layout-align="bottom center">Use 'Dark' Themed Cards</md-checkbox>


                        </md-card>

            </div>
        </div>


    </md-content>
</div>