<div ng-controller="CardNotificationController" class="carddemoBasicUsage">
    <md-content>
        <div class="row">
            <div class="col-md-12">


                <md-card class="buttonclass" md-theme={{w.themeColor}} md-theme-watch>

                    <md-card-title>

                        <md-card-title-text>
                            <span class="md-headline">{{w.title}}</span>
                            <span class="md-subhead">{{w.cardid}} - {{w.deviceName}}</span>
                        </md-card-title-text>


                    </md-card-title>

                    <md-card-content layout="row" layout-align="center center">

                        <div ng-if="WidgetType == 'Toast Widget'">
                            <md-table-container>
                            <table md-table md-row-select multiple ng-model="$scope.selected" class="table table-hover table-bordered">

                                <thead md-head md-order="$scope.query.order" md-on-reorder="getItems()">

                                <tr md-row>
                                    <th md-column md-numeric>ID</th>
                                    <th md-column md-order-by="Notification Title"><span>Notification Title</span></th>
                                    <th md-column md-order-by="time"><span>Time</span></th>
                                    <th md-column md-numeric>Notification Status </th>
                                    <!--<th md-column md-numeric>Carbs (g)</th>-->

                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in cardNotifications">
                                    <td md-cell>{{item.notId}}</td>
                                    <td md-cell>{{item.NotificationTitle}}</td>
                                    <td md-cell>{{item.time}}</td>
                                    <td md-cell>{{item.status}}</td>

                                </tr>
                                </tbody>
                                <!--<tr>-->
                                    <!--<th>Notification Text</th>-->
                                    <!--<th>Clear Toast</th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<th>{{randomQuote.text}}</th>-->
                                    <!--<th>-->
                                        <!--<md-button class="btn btn-primary" ng-click="removeToast()">Clear Toast</md-button>-->
                                    <!--</th>-->


                                <!--</tr>-->
                            </table>
                            </md-table-container>
                        </div>


                    </md-card-content>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Select Widgets</label>
                            <md-select ng-model="WidgetType">
                                <md-option ng-repeat="widget in Widgets" ng-value="widget">{{widget}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="btn btn-primary" ng-click="removeWidget(w)">Delete</md-button>
                        <md-button ng-click="switchTheme($event,w)" class="btn btn-primary"> Switch Themes</md-button>
                    </md-card-actions>



                </md-card>

            </div>
        </div>


    </md-content>
</div>