<div ng-controller="CardController">
    <md-content>
        <div class="row">
            <div class="col-md-12">


                <div gridstack class="grid-stack grid1" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">

                    <div gridstack-item ng-repeat="w in widgets track by $index" index="{{::$index}}" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
                         gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
                            <div class="grid-stack-item-content">
                                <md-card-title>

                                    <md-card-title-text>
                                        <span class="md-headline">{{w.title}}</span>
                                        <span class="md-subhead">{{w.cardid}}</span>
                                    </md-card-title-text>

                                </md-card-title>

                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button class="btn btn-primary" ng-click="removeWidget(w)">Delete</md-button>
                                    <md-button ng-click="addGuage(w)">Open</md-button>
                                </md-card-actions>

                                <md-checkbox ng-model="showDarkTheme" layout-align="bottom center">Use 'Dark' Themed Cards</md-checkbox>

                            </div>
                        </md-card>
                    </div>

                </div>


            </div>
        </div>


    </md-content>
</div>