<div ng-controller="CardNotificationController" class="carddemoBasicUsage">
    <md-content>
        <div class="row">
            <div class="col-md-12">


                <md-card class="buttonclass" md-theme={{w.themeColor}} md-theme-watch>

                    <md-card-title>

                        <md-card-title-text>
                            <span class="md-headline">{{w.title}}</span>
                            <span class="md-subhead">{{w.cardid}} - {{w.deviceName}}</span>
                        </md-card-title-text>


                    </md-card-title>

                    <md-card-content layout="row" layout-align="center center">

                        <div ng-if="WidgetType == 'Toast Widget'">
                            <table class="table">
                                <tr>
                                    <th>Notification Text</th>
                                    <th>Clear Toast</th>
                                </tr>
                                <tr>
                                    <th>{{randomQuote.text}}</th>
                                    <th>
                                        <md-button class="btn btn-primary" ng-click="removeToast()">Clear Toast</md-button>
                                    </th>


                                </tr>
                            </table>
                        </div>


                    </md-card-content>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Select Widgets</label>
                            <md-select ng-model="WidgetType">
                                <md-option ng-repeat="widget in Widgets" ng-value="widget">{{widget}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="btn btn-primary" ng-click="removeWidget(w)">Delete</md-button>
                        <md-button ng-click="switchTheme($event,w)" class="btn btn-primary"> Switch Themes</md-button>
                    </md-card-actions>



                </md-card>

            </div>
        </div>


    </md-content>
</div>