<div ng-controller="CardNotificationController">
    <md-content>
        <div class="row">
            <div class="col-md-12">


                <md-card  md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>

                    <md-card-title>

                        <md-card-title-text>
                            <span class="md-headline">{{w.title}}</span>
                            <span class="md-subhead">{{w.cardid}} - {{w.deviceName}}</span>
                        </md-card-title-text>


                    </md-card-title>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="btn btn-primary" ng-click="removeWidget(w)">Delete</md-button>
                        <md-button  class="md-raised" ng-click="toggle = !toggle">{{toggleText}}</md-button>
                    </md-card-actions>

                    <md-checkbox ng-model="showDarkTheme" layout-align="bottom center">Use 'Dark' Themed Cards</md-checkbox>

                </md-card>

            </div>
        </div>


    </md-content>
</div>