<div ng-controller="CardDevControlController">
    <md-content>
        <div class="row">
            <div class="col-md-12">


                <md-card  md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>

                    <md-card-title>

                        <md-card-title-text>
                            <span class="md-headline">{{w.title}}</span>
                            <span class="md-subhead">{{w.cardid}} - {{w.deviceName}}</span>
                        </md-card-title-text>


                    </md-card-title>

                    <md-card-content layout="row" layout-align="center center">

                        <div ng-if="WidgetType == 'Switch Widget'">
                            <md-button  class="md-raised" ng-click="$parent.toggle = !toggle">{{toggleText}}</md-button>
                        </div>


                    </md-card-content>


                    <md-card-actions layout="row" layout-align="end center">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Select Widgets</label>
                            <md-select ng-model="WidgetType">
                                <md-option ng-repeat="widget in Widgets" ng-value="widget">{{widget}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="btn btn-primary" ng-click="removeWidget(w)">Delete</md-button>

                    </md-card-actions>

                    <md-checkbox ng-model="showDarkTheme" layout-align="bottom center">Use 'Dark' Themed Cards</md-checkbox>

                </md-card>

            </div>
        </div>


    </md-content>
</div>