<div ng-controller="DevControlController" ng-cloak>
    <md-dialog aria-label="Device Controls">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Device Control</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:810px; ">
                <md-tabs md-dynamic-height md-border-bottom>
                        <md-content class="md-padding">
                            <section layout="row" layout-sm="column" layout-align="center bottom" layout-wrap>
                                <md-button class="md-raised" ng-click="addDevice()">Add Device</md-button>
                            </section>
                        </md-content>
                </md-tabs>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="shut()" >
                    CANCEL
                </md-button>
                <md-button ng-click="addWidget()" style="margin-right:20px;" >
                ADD
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>