<div ng-controller="deviceSuggestionCtrl" ng-cloak>
    <md-dialog aria-label="Device Suggestion">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Device Suggestion</h2>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:810px; ">
                <table class="table">
                    <tr>
                        <th>Product Name</th>
                        <th>Purchase Device</th>
                    </tr>
                    <tr>
                        <th>{{randomProduct.text}}</th>
                        <th>
                            <md-button class="btn btn-primary" ng-click="buyDevice()">Buy Now</md-button>
                        </th>


                    </tr>
                </table>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="shut()" style="margin-right:20px;" >
                    OK
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>