


<div ng-controller="DeviceController" ng-cloak>



        <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
        <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet()" style="position:absolute; bottom:0;">Select Widgets</md-button>

    </div>

    <div ng-if="alert">
        <br/>
        <b layout="row" layout-align="center center" class="md-padding">
            {{alert}}
        </b>
    </div>
    <md-content flex class="md-padding page-content">

    </md-content>


    <div ng-if="newWidget.title= 'DeviceManagment'">
        <div cardview="card"></div>
    </div>


    </div>