


<div ng-controller="DeviceController" ng-cloak>

        <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">

                    <md-button ng-click="showGridBottomSheet()" aria-label="menu" class="md-fab md-warn" class="fab-main-circle">
                        <i class="material-icons">add</i>
                    </md-button>

    </div>

    <div ng-if="alert">
        <br/>
        <b layout="row" layout-align="center center" class="md-padding">
            {{alert}}
        </b>
    </div>
    <md-content flex class="md-padding page-content">

    </md-content>


    <div gridstack class="grid-stack grid1" options="options" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">

        <div gridstack-item ng-repeat="w in widgets track by $index" index="{{::$index}}" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
             gs-item-width="w.width" gs-item-height="4" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">

    <div class="grid-stack-item-content">

        <div ng-if="w.title == 'Device Management'">

            <cardview type="card_devmgmt"></cardview>

        </div>

        <div ng-if="w.title == 'Device Control'">

            <cardview type="card_devctrl"></cardview>

        </div>

        <div ng-if="w.title == 'Device Upgrade Center'">

            <cardview type="card_upgrade"></cardview>

        </div>

        <div ng-if="w.title == 'Suggest Me'">

            <cardview type="card_suggest"></cardview>

        </div>

        <div ng-if="w.title == 'Notification Center'">

            <cardview type="card_notification"></cardview>

        </div>


    </div>

        </div>
    </div>
</div>