
<div ng-controller="DeviceMgmtController" ng-cloak>
<md-dialog aria-label="Device Management">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Device Management</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">

            <table class="table">
                <md-button class="md-warn md-raised md-hue-2">Add Device</md-button>
                <tr>
                    <th>Name</th>
                    <th>Device Type</th>
                    <th>Device Status</th>
                    <th>Select Device</th>
                </tr>
                <tr ng-repeat="device in devices">
                    <th>{{device.name}}</th>
                    <th>{{device.Device_type}}</th>
                    <th>{{device.status}}</th>
                    <th>
                        <md-radio-group ng-model="$parent.data">
                            <md-radio-button  value="{{device.name}}" class="md-primary">{{device.name}}</md-radio-button>
                        </md-radio-group>
                    </th>


                </tr>
            </table>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="shut()" >
                CANCEL
            </md-button>
            <md-button ng-click="addWidget()" style="margin-right:20px;" >
                ADD
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
</div>


