
<div ng-controller="DeviceMgmtController" ng-cloak>
<md-dialog aria-label="Device Management">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Device Management</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Widget 1">

                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="shut()" >
                CANCEL
            </md-button>
            <md-button ng-click="addWidget()" style="margin-right:20px;" >
                ADD
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
</div>