<!--<div class="table-responsive-vertical md-whiteframe-z1">-->
  <!--<table id="table" class="table table-hover table-bordered">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>#</th>-->
      <!--<th>Issue</th>-->
      <!--<th>Status</th>-->
      <!--<th>Progress</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="data in vm.ruleData track by $index">-->
      <!--<td data-title="ID">{{$index + 1}}</td>-->
      <!--<td data-title="Issue">{{data.issue}}</td>-->
      <!--<td data-title="Status">{{data.status}}</td>-->
      <!--<td data-title="Progress">-->
        <!--<md-progress-linear class="table-progress {{data.class}}"-->
                            <!--md-mode="determinate"-->
                            <!--value={{data.progress}}>-->
        <!--</md-progress-linear>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->




<div>
  <div>
    <a class="btn btn-primary" ng-click="addWidget()" href="#">Add Widget</a>
    <a class="btn btn-primary" ng-click="moveWidget()" href="#">Move Widget</a>
  </div>

  <div class="container-fluid">
  <div gridstack class="grid-stack grid1" options="vm.ruleOptions" on-change="onChange(event,items)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">


  <div gridstack-item
       ng-repeat="w in vm.ruleWidgetData track by $index" Index="{{::$index}}" class="grid-stack-item" gs-item-x="w.x" gs-item-y="w.y"
       gs-item-width="w.width" gs-item-height="w.height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">

    <panel-widget flex title="{{w.widgetTitle}}" template="{{w.widgetView}}" class="fixed-height-widget"></panel-widget>

  </div>

  </div>
  </div>
</div>
