<div class="lock-size " layout="row" layout-align="left center">
    <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{vm.selectedDirection}}"
                       ng-class="vm.selectedMode"
                       ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false" >
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon ng-if="!demo.isOpen" md-svg-src="assets/images/ic_add_black_48px.svg"></md-icon>
                <md-icon ng-if="demo.isOpen" md-svg-src="assets/images/ic_close_black_48px.svg"></md-icon>
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Rule</md-tooltip>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">Rule Creation</md-tooltip>
                <md-icon md-svg-src="assets/images/ic_create_black_48px.svg" aria-label="Creation"></md-icon>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="assets/images/ic_notifications_black_48px.svg" aria-label="Notification"></md-icon>
                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">Rule Notification</md-tooltip>
            </md-button>
            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="assets/images/ic_settings_black_48px.svg" aria-label="Management"></md-icon>
                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">Rule Management</md-tooltip>
            </md-button>
            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                <md-icon md-svg-src="assets/images/ic_share_black_48px.svg" aria-label="Sharing"></md-icon>
                <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">Rule Sharing</md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>

<div class="container-fluid">

    <!--<p>{{vm.ruleWidgetData}}</p>-->

    <div>
        <input type="text"
               ng-model="vm.newRuleTYpe"
               [name="WidgetType"]
               [required="string"]
               [ng-required="string"]
               [ng-minlength="number"]
               [ng-maxlength="number"]
               [pattern="string"]
               [ng-pattern="string"]
               [ng-change="string"]
               [ng-trim="boolean"]>

        <a class="btn btn-primary" ng-click="vm.addWidget(vm.newRuleTYpe)" href="">Add Widget</a>
        <a class="btn btn-primary" ng-click="vm.moveWidget()" href="">Move Widget</a>
        <a class="btn btn-primary" ng-click="vm.loadAllRuleWidgetData()" href="">Load All Widget</a>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8">
            <div gridstack
                 class="grid-stack grid1"
                 options="vm.ruleOptions"
                 on-change="vm.onChange(event,items)"
                 on-drag-start="vm.onDragStart(event,ui)"
                 on-drag-stop="vm.onDragStop(event,ui)"
                 on-resize-start="vm.onResizeStart(event,ui)"
                 on-resize-stop="vm.onResizeStop(event,ui)">


                <!--gs-item-autopos="1"-->
                <div gridstack-item
                     ng-repeat="w in vm.ruleWidgetData"
                     class="grid-stack-item"
                     gs-item-x="w.x"
                     gs-item-y="w.y"
                     gs-item-width="w.width"
                     gs-item-height="w.height"
                     gs-item-min-width="5"
                     gs-item-min-height="5"
                     data-gs-item-min-width="5"
                     data-gs-item-min-height="5"
                     on-item-added="vm.onItemAdded(item)"
                     on-item-removed="vm.onItemRemoved(item)">

                    <div class="grid-stack-item-content">

                        <panel-widget
                                flex
                                title="{{w.widgetTitle}}"
                                template="{{w.widgetView}}"
                        >
                            <!--class="fixed-height-widget"-->


                        </panel-widget>

                        <!--<a class="btn btn-primary" ng-click="removeWidget(w)" href="#">remove</a>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<button class="md-fab md-fab-bottom-left docs-scroll-fab md-button md-ink-ripple scrolling" type="button" ng-transclude="" docs-scroll-class="scrolling" ng-click="scrollTop()" aria-label="Back to Top" aria-hidden="false">

    <md-icon md-svg-src="assets/images/menu.svg" class="ng-scope" role="img" aria-hidden="true"><svg height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">

    </svg></md-icon>
    <div class="md-ripple-container" style=""></div></button>