<div class="container-fluid">

    <!--<p>{{vm.ruleWidgetData}}</p>-->

    <div>
        <a class="btn btn-primary" ng-click="vm.addWidget()" href="">Add Widget</a>
        <a class="btn btn-primary" ng-click="vm.moveWidget()" href="">Move Widget</a>
        <a class="btn btn-primary" ng-click="vm.loadAllRuleWidgets()" href="">Load All Widget</a>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12">
            <div gridstack
                 class="grid-stack grid1"
                 options="vm.ruleOptions"
                 on-change="vm.onChange(event,items)"
                 on-drag-start="vm.onDragStart(event,ui)"
                 on-drag-stop="vm.onDragStop(event,ui)"
                 on-resize-start="vm.onResizeStart(event,ui)"
                 on-resize-stop="vm.onResizeStop(event,ui)">


                <div gridstack-item
                     ng-repeat="w in vm.ruleWidgetData"
                     class="grid-stack-item"
                     gs-item-x="w.x"
                     gs-item-y="w.y"
                     gs-item-width="w.width"
                     gs-item-height="w.height"
                     gs-item-autopos="1"
                     on-item-added="vm.onItemAdded(item)"
                     on-item-removed="vm.onItemRemoved(item)">

                    <div class="grid-stack-item-content">

                        <panel-widget
                                flex
                                title="{{w.widgetTitle}}"
                                template="{{w.widgetView}}"
                        >
                            <!--class="fixed-height-widget"-->


                        </panel-widget>

                        <!--<a class="btn btn-primary" ng-click="removeWidget(w)" href="#">remove</a>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
