<div ng-controller="CardController">
    <md-content>
        <div layout="row">
            <div ng-repeat="card in cards">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{card.title}}</span>
                        <span class="md-subhead">Widget 1</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="removeCard(id)">Delete</md-button>
                    <md-button>Open</md-button>
                </md-card-actions>
            </md-card>
            </div>
        </div>
    </md-content>
</div>