<md-content class="" ng-controller="RuleSharingController as vm">


  <div flex-xs flex-gt-xs="100" layout="column">
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Share a rule with a user</span>
          <span class="md-subhead">
            <md-autocomplete placeholder="Share Rule"
                             md-selected-item="vm.selectedRules"
                             md-search-text="vm.searchText"
                             md-no-cache="vm.disableCaching"
                             md-items="item in vm.querySearch(vm.searchText)"
                             md-item-text="item.display">
      <span md-highlight-text="vm.searchText">{{item.rule}}</span>
    </md-autocomplete>
    <md-autocomplete placeholder="User Email"
                     md-selected-item="vm.user"
                     md-search-text="vm.emailSearchText"
                     md-no-cache="vm.disableCaching"
                     md-items="item in vm.querySearch(vm.searchText)"
                     md-item-text="item.display"
                     type="email">
      <span md-highlight-text="vm.searchText">{{item.email}}</span>
    </md-autocomplete>
    <p>Selected Rule:
      <b>{{vm.rule|| 'No rule selected'}}</b>
    </p>
    <p>Selected User:
      <b>{{vm.user || 'No user selected'}}</b>
    </p>

          </span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <i class="material-icons md-48">share</i>
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">Share</md-button>
      </md-card-actions>
    </md-card>
  </div>
  </md-content>