<md-content ng-controller="RuleCreationController as vm" class="">

    <md-card >

        <!--<div drag-circular-menu-->
             <!--angle="30"-->
             <!--placement="center"-->
             <!--button-config="vm.menuConfig"-->
             <!--menu-items="vm.menuItems"-->
             <!--default-open="false"-->
             <!--onwing-click="vm.onWingClick1(wing)">-->
        <!--</div>-->

        <md-progress-linear class="widget-progress md-accent" md-mode="determinate"
                        value="{{vm.determinateValue}}" ng-show="vm.showProgress">
    </md-progress-linear>

    <md-radio-group ng-model="vm.reloadServer">
        <md-radio-button class="md-accent" value="Staging">Staging server</md-radio-button>
        <md-radio-button class="md-accent" value="Production">Production server</md-radio-button>
    </md-radio-group>

    <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
        Reload server
    </md-button>
        </md-card >
</md-content>
