<md-content ng-controller="RuleCreationController as vm" class="">


    <div flex-xs flex-gt-xs="100">
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <!--<span class="md-headline">Action buttons</span>-->
                </md-card-title-text>
            </md-card-title>

            <md-card-content>


                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>

                    <div ng-repeat="selectedItem1 in vm.ruleParameters.triggers" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelOneItem(selectedItem1)"
                                       ui-sref-active="md-warn"
                                       ng-class="selectedItem1 == vm.levelItem1? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-48">{{selectedItem1.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{selectedItem1.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>

                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>


                </div>

                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>
                    <div ng-if="vm.levelItem1 != null" ng-repeat="item in vm.levelItem1.children" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelTwoItem(item)"
                                       ui-sref-active="md-warn"
                                       ng-class="item == vm.levelItem2? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-36">{{item.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{item.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>


                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>
                </div>

                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>
                    <div ng-if="vm.levelItem1 != null || vm.levelItem2 != null"
                         ng-repeat="item in vm.levelItem2.children" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelThreeItem(item)"
                                       ui-sref-active="md-warn"
                                       ng-class="item == vm.levelItem3? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-24">{{item.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{item.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>


                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>
                </div>

                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>
                    <div ng-if="vm.levelItem1 != null || vm.levelItem2 != null || vm.levelItem3 != null"
                         ng-repeat="item in vm.levelItem3.children" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelFourItem(item)"
                                       ui-sref-active="md-warn"
                                       ng-class="item == vm.levelItem4? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-24">{{item.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{item.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>


                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>
                </div>

                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>
                    <div ng-if="vm.levelItem1 != null || vm.levelItem2 != null || vm.levelItem3 != null || vm.levelItem4 != null"
                         ng-repeat="item in vm.levelItem4.children" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelFiveItem(item)"
                                       ui-sref-active="md-warn"
                                       ng-class="item == vm.levelItem5? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-24">{{item.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{item.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>


                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>
                </div>

                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>
                    <div ng-if="vm.levelItem1 != null || vm.levelItem2 != null || vm.levelItem3 != null || vm.levelItem4 != null|| vm.levelItem5 != null"
                         ng-repeat="item in vm.levelItem5.children" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelSixItem(item)"
                                       ui-sref-active="md-warn"
                                       ng-class="item == vm.levelItem6? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-24">{{item.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{item.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>


                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>
                </div>

                <div layout="row" layout-align="center center">
                    <md-divider></md-divider>
                    <div ng-if="vm.levelItem1 != null || vm.levelItem2 != null || vm.levelItem3 != null || vm.levelItem4 != null|| vm.levelItem5 != null|| vm.levelItem6 != null"
                         ng-repeat="item in vm.levelItem6.children" trackby $index>
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                        <div class="col-sm-4">
                            <md-divider></md-divider>

                            <md-button layout="column" layout-align=""
                                       flex class="capitalize" ng-click="vm.selectLevelSevenItem(item)"
                                       ui-sref-active="md-warn"
                                       ng-class="item == vm.levelItem7? 'md-primary md-raised' :''">

                                <div hide-sm hide-md class="md-tile-content">
                                    <i class="material-icons md-24">{{item.icon}}</i>
                                </div>
                                <div class="md-tile-content">
                                    {{item.name}}
                                </div>

                            </md-button>
                            <md-divider></md-divider>


                        </div>
                        <md-divider></md-divider>

                    </div>
                    <md-divider></md-divider>
                </div>


                <div ng-if="vm.showInput == true" layout="row" layout-align="center center">

                    <md-input-container layout-align="center center">
                        <label>Value</label>
                        <input ng-model="vm.inputValue" ng-change="vm.updateTrigger()" align="center"
                               layout-align="center center">
                    </md-input-container>


                </div>


                <!--<div ng-if="vm.ShowAndOrButtons == true" layout="row" layout-sm="column" layout-align="" layout-wrap>-->
                <!--<div layout="row" layout-sm="" layout-align="" layout-wrap flex="70">-->
                <!--&lt;!&ndash;<md-button class="md-raised">Add</md-button>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-button class="md-raised md-primary">Primary</md-button>&ndash;&gt;-->
                <!--</div>-->
                <!--<div layout="row" layout-sm="" layout-align="right right" layout-wrap flex="30">-->
                <!--<md-button class="md-raised md-warn" ng-click="vm.AndButtonPressed()">And</md-button>-->
                <!--<md-button class="md-raised md-warn" ng-click="vm.OrButtonPressed()">Or</md-button>-->
                <!--</div>-->

                <!--</div>-->

                <div>

                    <md-subheader class="md-primary" layout="column">

                        <md-chips>
                            <md-chip ng-repeat="item in vm.currentTriggerChips">{{item}}</md-chip>
                        </md-chips>

                    </md-subheader>
                </div>
                <br/>
                <!--<md-subheader class="md-primary">{{vm.currentTrigger}}-->
                <!--</md-subheader>-->
                <div class="md-toolbar-tools">
                    <md-button class=" md-fab md-raised md-primary">If</md-button>
                </div>


                <div>
                    <md-subheader class="md-primary md-raised" layout="column">
                        <div layout="row">
                            <div flex="20" layout-align="center center">
                                <md-button ng-disabled="vm.ShowAndOrButtons != true"
                                           ng-click="vm.AndButtonPressed(true)" class="md-raised md-warn">And
                                </md-button>
                            </div>
                            <div flex="70">
                                <md-chips>
                                    <md-chip ng-repeat="item in vm.currentRule.triggers.and" track by $index>{{item}}
                                    </md-chip>
                                </md-chips>
                            </div>
                        </div>
                    </md-subheader>

                </div>

                <div>
                    <md-subheader class="md-primary md-raised" layout="column">
                        <div layout="row">
                            <div flex="20" layout-align="center center">
                                <md-button ng-disabled="vm.ShowAndOrButtons != true" class="md-raised md-warn"
                                           ng-click="vm.OrButtonPressed(true)">Or
                                </md-button>
                            </div>
                            <div flex="70">
                                <md-chips>
                                    <md-chip ng-repeat="item in vm.currentRule.triggers.or" track by $index>{{item}}
                                    </md-chip>
                                </md-chips>
                            </div>
                        </div>
                    </md-subheader>

                </div>

                <div class="md-toolbar-tools">
                    <md-button class="md-fab md-raised md-primary">Then</md-button>
                </div>

                <div>

                    <md-subheader class="md-primary md-raised" layout="column">
                        <div layout="row">
                            <div flex="20" layout-align="center center">
                                <md-button ng-disabled="vm.ShowAndOrButtons != true" class="md-raised md-warn"
                                           ng-click="vm.AndButtonPressed(false)">And
                                </md-button>
                            </div>
                            <div flex="70">
                                <md-chips>
                                    <md-chip ng-repeat="item in vm.currentRule.actions.and" track by $index>{{item}}
                                    </md-chip>
                                </md-chips>
                            </div>
                        </div>
                    </md-subheader>

                </div>

                <br/>

                <div>


                    <div layout="row">

                        <md-subheader>
                            <label>Save Rule</label>
                        </md-subheader>

                        <div layout="row" layout-align="">
                            <div flex="20">
                            </div>
                            <div flex="30" >

                                <md-input-container >
                                    <label>Rule Title</label>
                                    <input ng-model="vm.currentRule.title">
                                </md-input-container>

                                <md-input-container >
                                    <label>Rule Description</label>
                                    <input ng-model="vm.currentRule.desc">
                                </md-input-container>

                                <md-button ng-click="vm.showToastMessage(' New Rule Created',$event)" class="md-raised md-primary">Save</md-button>

                            </div>

                        </div>
                    </div>


                </div>


                <!--<nav class="menu">-->
                <!--<input type="checkbox" href="" class="menu-open" name="menu-open" id="menu-open">-->
                <!--<label class="menu-open-button" for="menu-open">-->
                <!--&lt;!&ndash;<span class="lines line-1"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="lines line-2"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="lines line-3"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="lines line-4"></span>&ndash;&gt;-->
                <!--</label>-->


                <!--<a ng-repeat="item in vm.items" track by $index href="" class="menu-item item-{{$index}}">-->
                <!--<i class="material-icons large fab-icon">edit</i>-->
                <!--</a>-->


                <!--&lt;!&ndash;<a href="" class="menu-item item-1">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="material-icons large fab-icon">edit</i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="menu-item item-2"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="menu-item item-3"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="menu-item item-4"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="menu-item item-5"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="" class="menu-item item-6"></a>&ndash;&gt;-->
                <!--</nav>-->

                <div flex></div>
                <div flex></div>
                <div flex></div>
                <div flex></div>
                <div flex></div>
                <div flex></div>

                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <!--<p>-->
                <!--The titles of Washed Out's breakthrough song and the first single from Paracosm share the-->
                <!--two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...-->
                <!--</p>-->
                <!--<p>-->
                <!--The titles of Washed Out's breakthrough song and the first single from Paracosm share the-->
                <!--two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...-->
                <!--</p>-->
                <!--<p>-->
                <!--The titles of Washed Out's breakthrough song and the first single from Paracosm share the-->
                <!--two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...-->
                <!--</p>-->
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <!--<md-button>Action 1</md-button>-->
                <!--<md-button>Action 2</md-button>-->
            </md-card-actions>

        </md-card>


        <!--<circular-->
        <!--options="vm.options">-->
        <!--</circular>-->

        <!--<div drag-circular-menu-->
        <!--angle="30"-->
        <!--placement="center"-->
        <!--button-config="vm.menuConfig"-->
        <!--menu-items="vm.menuItems"-->
        <!--default-open="false"-->
        <!--onwing-click="vm.onWingClick1(wing)">-->
        <!--</div>-->

    </div>


</md-content>
