<div class="table-responsive-vertical md-whiteframe-z1" ng-controller="RuleNotificationController as vm">
    <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
    <!--<md-toolbar class="md-table-toolbar md-default">-->
        <!--&lt;!&ndash;<div class="md-toolbar-tools">&ndash;&gt;-->
            <!--&lt;!&ndash;<span>Nutrition</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</md-toolbar>-->

    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table
               md-row-select
               multiple
               ng-model="vm.selected"
               class="table table-hover table-bordered" >

            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getItems()">
            <tr md-row>
                <th md-column md-numeric>Rule ID</th>
                <th md-column md-numeric>Rule Icon</th>
                <th md-column md-order-by="Rule Title"><span>Rule Title</span></th>
                <th md-column md-order-by="time"><span>Time</span></th>
                <th md-column md-numeric>Status Icon</th>
                <th md-column md-numeric>Status </th>
                <!--<th md-column md-numeric>Carbs (g)</th>-->

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in vm.ruleNotifications">
                <td md-cell>{{item.ruleId}}</td>
                <td md-cell>
                    <i class="material-icons md-36 rule-icon" >{{item.ruleIcon}}</i>
                </td>
                <td md-cell>{{item.ruleTitle}}</td>
                <td md-cell>{{item.time}}</td>
                <td md-cell>
                    <i ng-if="item.status == 'created'" class="material-icons rule-status-icon" >add_circle_outline</i>
                    <i ng-if="item.status == 'activated'" class="material-icons rule-status-icon" >play_circle_outline</i>
                    <i ng-if="item.status == 'deactivated'" class="material-icons rule-status-icon" >pause_circle_outline</i>
                    <i ng-if="item.status == 'triggered'" class="material-icons rule-status-icon" >notifications_active</i>
                    <i ng-if="item.status == 'deleted'" class="material-icons rule-status-icon" >delete</i>
                </td>
                <td md-cell>{{item.status}}</td>

                <!--<td md-cell>-->
                    <!--<md-progress-linear class="table-progress {{item.class}}"-->
                                        <!--md-mode="determinate"-->
                                        <!--value={{item.progress}}>-->
                    <!--</md-progress-linear>-->
                <!--</td>-->



            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.totalItems}}" md-on-paginate="vm.getItems()" md-page-select></md-table-pagination>
</div>